.city-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;

  margin: 10rem auto;
}

.city-list img {
  width: 25rem;
  height: 25rem;
}

.city-list:after {
  content: '';
  width: 25rem;
}
