.construction-thumbnail {
  background-repeat: no-repeat;
  background-size: cover;
  width: 30rem;
  height: 20rem;

  position: relative;
  margin: 2rem auto;
}

.construction-thumbnail .caption {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;

  background-color: rgba(0, 0, 0, 0.5);
}

.construction-thumbnail .caption h1 {
  font-family: 'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-size: 2rem;
  color: white;

  margin-left: 20px;
}

.construction-thumbnail .caption p {
  font-family: 'Arial-MT', 'Arial';
  font-size: 1.5rem;
  color: white;

  margin-left: 20px;
}
