.details #carousel {
}

.details #carousel img {
  height: 30rem;
  width: 100%;
}

.details .info {
  padding: 1rem;
  margin: 2rem auto;

  display: flex;

  color: grey;
}

.details .info > div {
  flex: 1;
  line-height: 40px;
}

.details .info button {
  display: block;
  margin: 0 0 0 auto;
}

.details .info #links {
  text-align: right;
  margin-top: 1rem;
}

.details .price {
  color: #ff6d00;
  font-size: 2rem;
  margin-right: 2rem;
}

.details .address {
  color: #163059;
  margin-right: 2rem;
}

.details #custom-navbar {
  display: flex;
  flex-flow: row nowrap;

  background-color: #163059;
  color: white;

  margin: 2rem auto;
}

.details #custom-navbar div {
  flex: 1;

  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;

  padding: 1rem;
  border: 5px solid #163059;
}

.details #custom-navbar div:hover {
  border-bottom: 5px solid white;
}

.details .attributes {
  margin: 2rem auto;
}

.details .attributes .attribute {
  font-size: 1.5rem;
  color: gray;
  margin-right: 2rem;
  font-weight: bold;
}

.details .attributes .value {
  font-size: 1.5rem;
  color: gray;
}

.details .description {
  color: grey;
  font-size: 1.5rem;
  margin-top: 10rem;
}

.details .box {
  border-top: 1px solid black;
  margin: 2rem auto;

  padding: 2rem;
}

.details h2 {
  margin-top: 3rem;
  margin-bottom: 2rem;

  color: black;
  font-size: 24px;
  font-weight: normal;
}
