.faqBanner{
    background:url("./images/FAQ.png");
    margin:15rem;
    padding-top:10rem;
    padding-bottom:8rem;
    margin-top:-20px;
    margin-bottom:4rem;
    background-size:100% 100%;
}

.faqBanner h1{
    color:#616162;
    font-size:5rem;
    text-align:center;
    

//    display:inline-block;
}
