.footer {
  padding: 2rem;
  margin-top: 2rem;

  text-align: center;
  background-color: rgb(51, 51, 51);
  color: white;
}

.footer h1 {
  font-weight: bold;
  font-size: 2rem;
  line-height: 5rem;
}

.footer p {
  font-size: 1.5rem;
}

.footer a {
  margin: auto 5px;
}

.footer a:hover {
  opacity: 0.8;
}

.footer #social-network-links {
//  display: flex;
//  flex-flow: row nowrap;
//  justify-content: flex-end;
}
