#item {
  padding: 2rem;
  border-top: 1px solid;
}

.price {
  color: orange;
  font-size: 4rem;
}

.description {
  font-size: 2rem;
  color: gray;
}

.type {
  font-size: 2rem;
  font-weight: bold;
  color: gray;
}

.address {
  color: #2196F3;
}

#house-image {
  margin: 5rem auto;
}
