.house-list .list-header {
  margin: 2rem auto;

  display: flex;
  justify-content: space-between;
}

.house-list .list-header span:first-of-type {
  flex: 2;
}

.house-list .list-header span:last-of-type {
  flex: 1;
}

.house-list .list-header span:last-of-type > div {
  float: right;
}
