.item {
  padding-top: 2rem;
  padding-bottom: 2rem;
  border-top: 1px solid;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.item:last-of-type {
  border-bottom: 1px solid;
}

.item .price {
  color: #FF6D00;
  font-size: 4rem;
}

.item .description {
  font-size: 2rem;
  color: gray;
}

.item .type {
  font-size: 2rem;
  font-weight: bold;
  color: gray;
}

.item .address {
  font-size: 2rem;
  color: #2196f3;
}

.item .house-image {
  flex: 1;
  height: 20rem;
  width: 35rem;
}

.item #info {
  flex: 2;
  margin: auto 5rem;
}

.item button {
  flex: 1;
}

.item .labels {
  display: flex;
  flex-flow: row nowrap;
  margin: 2rem auto;
}
