.item:not(:first-of-type) {
  padding: 2rem;
  border-top: 1px solid;
}


.item .price {
  color: orange;
  font-size: 4rem;
}

.item .description {
  font-size: 2rem;
  color: gray;
}

.item .type {
  font-size: 2rem;
  font-weight: bold;
  color: gray;
}

.item .address {
  color: #2196f3;
}

.item .house-image {
  margin: 5rem auto;
}
