.list-header {
  padding-top: 10px;
}

.list-header .sort-by {
  float: right;
  margin-top: 5px;
}

.list-header .labels {
  float: left;
  display: flex;
  padding: 10px;
}

.house-list {
  margin: 10px auto;
}
