.house-list .list-header {
  display: flex;
  justify-content: space-between;

  margin-top: 1rem;
}

.house-list .list-header > span:first-of-type {
  margin-top: 8px;
}


.house-list .list{
  margin: 10px auto;
}
