
#infoBanner{
   background:url("./images/moreinfo.jpg");
   padding-top:10rem;
   margin:15rem;
   padding-bottom:8rem;
   margin-top:-20px;
   margin-bottom:4rem;
   background-size:100% 100%;
}

#infoBanner h1{
    color:#FFFFFF;
    font-size:5rem;
    text-align:center;
}
