.custom-label {
  /*border: 1px solid red;*/

  background-color: lightgrey;
  padding: 5px 15px;

  margin-right: 10px;
}

.custom-label span {
  color: #0c2f5c;
}

.custom-label > .custom-button {
  background-color: inherit;
  border: none;

  margin-left: 10px;
  font-weight: bold;
}

.custom-label.green {
  background-color: yellowgreen;
}
