#label{
    text-align:right;
}

#formInput{
    padding-left:10px;
    padding-right:10px;
}
#loginSubButton{
//    margin-left:50px;
//    width:200%;
}


#forget{
    margin-left:14rem;
    width:40%;
    font-size:18px;
    
}

#forgetpwdTip{
    position:absolute;
    right:0rem;
    top:20.5rem;
//    margin-top:20px;
//    text-align: center;
};

#passwordTip{
    margin-bottom:-5px;
    margin-top:-5px;
}

#submitTip{
    margin-top:10px;
}
