#label{
    text-align:right;
}

#loginSubButton{
//    margin-left:50px;
    width:250%;
}
#loginSubButton p{
    font-size:20px;
}

#forget{
    margin-left:14rem;
    width:40%;
    font-size:18px;
    
}

#passwordTip{
    margin-bottom:-5px;
    margin-top:-5px;
}

#submitTip{
    margin-top:10px;
}
