#profilePanel{
    margin-top:1rem;
}

#ProfileIcon{
   font-size:18px;
}

.profileSubItem{
    margin-top:1rem;
    display:flex;
//    height:5rem;
}

.subItemLable{
}

.subItemEditLable{
//    margin-left:1rem;
//    flex:1;
 }

.profileSubItem p{
    margin-left:1rem;
    flex:1;
    font-weight:bold;
    font-size:16px;
 }
