#profilePanel{
    margin-top:1rem;
}

.profileHeader{
    display:flex;
    margin-left:1rem;
//    background-color:#0c2f5c;
}
.profileHeader p{
    font-weight:bold;
    font-size:30px;
    color:#23527c;
}

#ProfileIcon{
    font-size:19px;
//    cursor:pointer;
}

#ProfileEditIcon{
    font-size:19px;
    cursor:pointer;
}

.profileSubItem{
    flex:1;
    padding-top:12px;
//    padding-bottom:1%;
    display:flex;
}

.subItem{
   
}

.subItem :hover{
    //    height:50px;
    color:white;
    background-color:#64d2d2;
}

.subItemLable{
    margin-left:1rem;
}

.subItemEditLable{
    margin-right:1rem;
//    flex:1;
}


.subItemContent{
    margin-left:1rem;
    flex:1;
    font-weight:bold;
    font-size:17px;
}

.profileFooter{

}

.profileFooter p{
    padding-bottom:1rem;
    padding-left:1rem;
}
