.recommended-house-item {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;

  padding: 2rem;
  border-bottom: 1px solid #0c2f5c;
}

.recommended-house-item > div {
  flex: 1;
  padding: 1rem;
}

.recommended-house-item > div:last-of-type {
  font-size: 2rem;
  color: gray;
}

.recommended-house-item .title {
  font-size: 2rem;
  color: #0c2f5c;
  font-weight: bold;
  margin-bottom: 2rem;
}

.recommended-house-item .price-line {
  margin-top: 5rem;
}

.recommended-house-item .price {
  color: #ff6d00;
  font-size: 3rem;
  margin-left: 2rem;
}

.recommended-house-item .labels {
  display: flex;
}
