.search-conditions {
  margin-top: -20px;
  padding-left: 5rem;

  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;

  background-color: #0c2f5c;
}

.search-conditions .search-item {
  margin: 1rem 1rem;
}

.search-conditions #search-bar {
  width: 30rem;

  margin: auto 1rem auto 0;
}

.list-header {
  padding: 0.5rem 5rem 0.5rem 5rem;
  display: flex;
  justify-content: space-between;
}
