#search-conditions {
  margin-top: -20px;
  padding-left: 5rem;

  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;

  background-color: #0c2f5c;
}

#search-bar {
  margin: 1rem 1rem 1rem 0;
  width: 30rem;
}

.search-item {
  margin: 1rem 1rem;
}
