@media (min-width: 700px) and (max-width: 1024px) {
    .nav p{
      font-size: 12px !important;
    }
}

#site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

#username{
  font-weight:bold;
  box-sizing: content-box;
  width: 15rem;
}

#username h4{
  width: 15rem;
  overflow: hidden;
  text-overflow:  ellipsis;
}

#site-content {
  flex: 1;
}


.nav p{
  font-weight: bold;
  font-size: 16px;
  margin: auto;
  color: #0c2f5c
}

#dropdown-custom-1{
  font-weight: bold;
  font-size: 14px;
  margin: auto;
  color: #0c2f5c
}

.navbar-brand {
  display: flex;
  align-items: center;
}

.navbar-brand img {
  padding: 7px 14px;
  width: 8rem;
}

// an example for changing navbar breakpoint to 888px.
// https://www.bootply.com/120604


