.house_list_all{
    height:calc(100vh - 50px);
    width:100vw;
}

.house_list_all .list_on_the_right{
  padding-left: 1rem;
}

.house_list_all #thumbnail_list{
  min-height: 70vh;
}

.list-on-the-right-content{
        min-height:50vh;        
}

.houseListFooter{
    margin-left:-1em;
}

@media screen and (min-width: 600px){
    .map_and_list{
	height:calc(100vh - 160px);
	background-color:###;
    }

    .map_on_the_left{
	width: 50vw;
	float: left;
	height:calc(100vh - 165px);
	background-color:###;
    }

    .list_on_the_right{
	float: right;
	width: 50vw;
	background-color:###;
	height:calc(100vh - 165px);
	overflow: auto;
    }
}

@media screen and (max-width: 600px){
    .map_and_list{
	display:flex;
    }

    .map_on_the_left{
	display:none;
	flex:0;
    }

    .list_on_the_right{
	flex:1;
	background-color:###;
//	width:50%;
    }
}
