.index-page #search-area {
  background-image: url('../images/index_page/home_background.png');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;

  min-height: 90vh;
  padding: 20rem 0;

  margin-top: -20px;
}

.index-page #search-area h1 {
  text-align: center;

  font-family: 'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-size: 3rem;
  color: white;
}

.index-page #search-area #bar {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5rem;

  width: 40%;
  min-width: 40rem;
}

.index-page #cities {
  margin: 10rem auto;
}

.index-page .construction_group {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.index-page .container > h1 {
  text-align: center;

  font-family: 'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-size: 4rem;
  font-weight: bold;
  color: #0c2f5c;
}

.index-page .group {
  margin: 5rem auto;
}

.index-page .group .custom-button {
  font-weight: bold;

  border: 2px solid #0c2f5c;
  border-radius: 5px;
  padding: 10px 30px;

  display: block;
  margin: 2rem auto;

  color: #0c2f5c;

  background-color: white;
}

.index-page .group .custom-button:hover {
  background-color: #0c2f5c;
  color: white;
}
