#label{
    text-align:right;
}

#formInput{
    padding-left:10px;
    padding-right:10px;
}

#formInput2{
    padding-left:10px;
    padding-right:10px;
}


#forget{
    margin-left:14rem;
    width:40%;
    font-size:18px;
    
}

#passwordTip{
    margin-bottom:-5px;
    margin-top:-5px;
}

#submitTip{
    //    margin-top:10px;
    text-align:center;
}

.inline_tips{
    display:flex;
    padding-top:1em;
    position:relative;
}

.inline_tips p{
    position:absolute;
    right:6.2em;
}

.inline_tips .termofuse_tip{
    position:absolute;
    top:1em;
    right:0em;
}

.inline_tips .forgetpwd_tip{
    position:absolute;
    top:0.5em;
    right:0em;
}
