.new-construction-list #banner-area {
  margin-top: -20px;

  background-image: url('../images/new_construction.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  height: 25rem;
}

.new-construction-list .strike {
  display: block;
  text-align: center;
  height: 30px;
  border-bottom: 5px solid #0c2f5c;

  margin: 5rem auto;
}

.new-construction-list .strike > span {
  font-size: 40px;
  padding: 0 10px;
  background-color: white;
  color: #0c2f5c;
  font-weight: bold;
}
